nav {
    background: white;
    color: rgb(238, 110, 115);
}
nav * {
    color: rgb(238, 110, 115) !important;
}

h1 {
    font-size: 30px;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 23px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 18px;
}
